select {
    cursor: pointer;
}
#form-transaction-type {
    width: 48%;
}
.alert {
    width: fit-content;
    color: #a94442;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin: 0 auto;
}
.notify {
    width: fit-content;
    background-color: #b5dcb5;
    color: #354935;
    padding: 10px;
    border: 1px solid #82EE82;
    border-radius: 4px;
    margin-bottom: 15px;
    margin: 0 auto;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #1e293b;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
